# Hidden files
.*
!\.gitignore

# Build artifacts
build/

# Log files
logs/

# Configuration files
keys*.toml
db_password

# Development testing files
banner.png
fbk/files/ids
fbk/files/instances

# Un-released files
TwitterShutdownNotify.kt